.view_Profile {
    max-width: 40%;
    margin: 0 auto;
}
.customer_info_box {
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    margin: 2rem 0;
    border-radius: 16px;
}
.customer_info_box .customer_personal_info{
    display: flex;
    gap: 20px;
    padding: 20px 10px 15px 24px;
    position: relative;
}
.customer_info_box .customer_address_info  {
    border-top: 1px dashed #A4A4A4;
    padding: 26px;
    display: flex;
    gap: 20px;
}
.customer_info_box .customer_address_info .address_type {
    width: 54px;
    text-align: center;
    background: #E9E9E9;
    padding: 2px 4px;
    border-radius: 4px;
    color: #8D8D8D;
    font-size: 10px;
    font-weight: 500;
    height: fit-content;
}
.customer_info_box .customer_personal_info .customer_img_box {
    margin: auto 0px;
}
.customer_info_box .customer_personal_info .customer_info {
    display: grid;
}
.customer_info_box .customer_personal_info .customer_img_box .customer_img {
    font-weight: 600;
    font-size: 20px;
    background: rgba(27, 27, 27, 0.15);
    border-radius: 50%;
    display: block;
    height: 54px;
    width: 54px;
    padding: 12px;
    text-align: center;
}
.customer_info_box .customer_personal_info .customer_info h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}
.customer_info_box .customer_personal_info .customer_info span {
    font-size: 12px;
    color: rgba(27, 27, 27, 0.4);
    font-weight: 400;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.order_info_box {
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    display: flex;
    gap: 20px;
    padding: 24px;
    margin: 0 0 2rem 0;
    position: relative;
    justify-content: space-between;
}
.order_info_box .manage_address_link  , .account_check .Approved_Limit{
    display: grid;
    justify-items: center;
    gap: 15px;
    width: -webkit-fill-available;
}
.order_info_box::before {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 50%;
    border-left: 0.5px solid rgba(0, 0, 0, 0.2);
    z-index: -1;
}
.order_info_box .manage_address_link img {
    height: 23px;
}
.order_info_box .manage_orders_link, .account_check .Potential_Limit {
    display: grid;
    justify-items: center;
    gap: 15px;
    width: -webkit-fill-available;
}
.more_info_box {
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    display: flex;
    padding: 10px;
    margin: 0 0 2rem;
}
.more_info_box .menu_items {
    width: 100%;
}
.more_info_box .menu_items h3 {
    color: #1B1B1B;
    font-size: 20px;
    font-weight: 700;
    margin: 24px 0px 20px 14px !important;
}
.more_info_box .menu_items .menu_item_list {
    list-style: none;
    padding-left: 0px;
}
.more_info_box .menu_items .menu_item_list li {
    margin: 0px 10px 30px 13px;
    display: flex;
    align-items: center;
    position: relative;
}
.more_info_box .menu_items .menu_item_list img.link_icon {
    width: 28px;
}
.more_info_box .menu_items .menu_item_list li a {
    margin-left: 13px;
    color: #1B1B1B;
}
.more_info_box .menu_items .menu_item_list li a img {
    position: absolute;
    right: 0px;
    height: 12px;
}
.logout_box {
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    display: flex;
    padding: 16px 24px;
    margin: 0 0 2rem;
}
.logout_box img {
    width: 23px;
    margin-right: 10px;
}
.logout_box .logout_link {
    font-size: 16px;
    font-weight: 600;
    color: #ED1C24;
}
.account_check{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.account_check_mnt {
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 24px 10px;
    margin: 0 0 2rem 0;
}
.Approved_Limit p, .Potential_Limit p {
    margin: 0;
}
.Approved_Limit p.pot_ac, .Potential_Limit p.pot_ac {
    font-weight: 600;
    font-size: 25px;
}
.lemit_check {
    display: flex;
    text-align: center;
    margin: 10px auto;
    width: 100%;
    justify-content: center;
}
.lemit_check p span {
    display: table;
    margin: 0 auto;
    font-weight: 600;
    font-size: 25px;
}
.YouHaveNotSaved {
    margin: 10px auto;
    font-size: 20px;
    font-weight: 600;
}


/* ManageAddress  */


.ManageAddress {
    padding: 0px 30px;
    display: flex;
    width: 80%;
    margin: 30px auto;
    flex-wrap: wrap;
}
.account__addresses-list {
    width: 100%;
    display: flex;
    border: 0.5px solid #1b1b1b;
    padding: 16px;
    margin: 8px;
    border-radius: 8px;
}
.ManageAddress .account__block-item {
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
}
.ManageAddress .account__address {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.account__address_crts {
    display: flex;
}
.account__address-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.account__address-actions button.link {
    padding: 0;
    background-color: transparent;
}
button.link.text_subdued_edit {
    color: #ed1c24;
    text-decoration: none;
    font-size: 9px!important;
}
.account__address-actions button.link.text_subdued_delete {
    color: #000;
}
.account__address_crts_account {
    padding: 0 5px;
}
.account__address-details {
    font-size: 15px;
    color: #1b1b1b66;
}
span.account__address-title.heading.heading--small {
    font-weight: 600;
}
.Manage_Add button {
    padding: 2px 8px;
    color: #ed1c24;
    border: 1px solid #ed1c24;
    font-size: 12px!important;
    background-color: transparent;
    border-radius: 10px;
}
.Manage_Add {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}


/* Manage Address Popup  */
.ManageAddressPopupMntDv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 76px;
    right: 0;
    z-index: 6;
    width: 100%;
    height: 90vh;
    background-color: #000000a6;
    justify-content: space-between;
}
.ManageAddressPopup {
    width: 400px;
    background-color: #fff;
    padding: 25px 20px;
    height: 100%;
    padding-top: 50px;
    overflow-x: scroll;
}
.ManageAddressPopup::-webkit-scrollbar{
    display: none;
}
.ManageAddressPopupButton {
    display: flex;
    justify-content: space-around;
    width: 400px;
    background-color: #fff;
    padding-bottom: 25px;
    padding-top: 15px;
}

.ManageAddressPopup p.popup_close {
    color: #000;
    width: 100%;
    border-color: transparent;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.ManageAddressPopup p.popup_close i.fa {
    margin-right: 5px;
}
.ManageAddressPopup .form-group {
    margin-bottom: 15px;
}
.ManageAddressPopup .form-group input.form-control, .ManageAddressPopup .form-group select.form-control {
    border-radius: 16px;
    border: 0.5px solid #00000033;
    padding: 10px 18px;
}
button.AddAddress {
    font-size: 14px!important;
    text-transform: capitalize;
    height: 40px;
    line-height: 1;
    padding: 10px 15px;
    border-radius: 5px!important;
    background-color: #ed1c24;
}

button.Cancel {
    padding: 2px 8px;
    color: #ed1c24;
    border: 1px solid #ed1c24;
    font-size: 12px!important;
    background-color: transparent;
    border-radius: 10px;
}


@media only screen and (max-width: 1200px) {

.view_Profile {
    max-width: 45%;
}

}

@media only screen and (max-width: 992px) {
.view_Profile {
    max-width: 70%;
    margin-top: 82px;
}

.ManageAddress {
    width: 85%;
}
.ManageAddress .account__block-item {
    width: 49.33%;
}
.ManageAddressPopupMntDv {
    z-index: 9999;
}
}
@media only screen and (max-width: 769px) {
    .Manage_Add {
        margin-top: 85px;
    }
    .ManageAddressPopup, .ManageAddressPopupButton {
        width: 85%;
    }
    .ManageAddressPopupMntDv {
        top: 44px;
        height: 95vh;
    }
    .lemit_check p {
        font-size: 15px;
    }
    .lemit_check p span {
        font-size: 20px;
    }
}
@media only screen and (max-width: 640px) {
    .view_Profile {
        max-width: 90%;
    }
    .ManageAddress {
        width: 100%;
        padding: 0px 0;
    }
    .ManageAddress .account__block-item {
        width: 95%;
        margin: 0 auto;
    }
    .ManageAddressPopupButton {
        padding-top: 18px;
    }
    
}

@media only screen and (max-width: 480px) {

.ManageAddressPopup, .ManageAddressPopupButton {
    width: 100%;
}
.account_check {
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
}












































































